@media only screen and (max-width: 320px) {
  * {
    margin: 3% 3% 3% 1% !important;
  }

  #grid-main {
    display: grid !important;
    grid-template-columns: 1fr !important;
    height: 98vh;
    width: 98vw !important;
    justify-content: center;
  }
  #add-expense-btn {
    border: 1px solid dodgerblue;
    border-radius: 45% !important;
    height: 70px !important;
    width: 70px !important;
    background-color: dodgerblue;
    box-shadow: 0px 2px 4px black;
  }

  .fa-trash-can {
    font-size: xx-large !important;
  }
}

@media only screen and (max-width: 480px) {
  * {
    margin: 3% 3% 3% 1% !important;
  }
  #grid-main {
    display: grid !important;
    grid-template-columns: 1fr !important;
    height: 98vh;
    width: 98vw !important;
    justify-content: center;
  }
  #add-expense-btn {
    border: 1px solid dodgerblue;
    border-radius: 45% !important;
    height: 70px !important;
    width: 70px !important;
    background-color: dodgerblue;
    box-shadow: 0px 2px 4px black;
  }

  .fa-trash-can {
    font-size: xx-large !important;
  }
}

@media only screen and (max-width: 768px) {
  * {
    margin: 3% 3% 3% 1% !important;
  }
  #grid-main {
    display: grid !important;
    grid-template-columns: 1fr !important;
    height: 98vh;
    width: 98vw !important;

    justify-content: center;
  }
  #add-expense-btn {
    border: 1px solid dodgerblue;
    border-radius: 45% !important;
    height: 70px !important;
    width: 70px !important;
    background-color: dodgerblue;
    box-shadow: 0px 2px 4px black;
  }

  .fa-trash-can {
    font-size: xx-large !important;
  }
}

@media only screen and (max-width: 1024px) {
  * {
    margin: 3% 3% 3% 1% !important;
  }
  #grid-main {
    display: grid !important;
    grid-template-columns: 1fr !important;
    height: 98vh;
    width: 98vw !important;

    justify-content: center;
  }
  #add-expense-btn {
    border: 1px solid dodgerblue;
    border-radius: 45% !important;
    height: 70px !important;
    width: 70px !important;
    background-color: dodgerblue;
    box-shadow: 0px 2px 4px black;
  }

  .fa-trash-can {
    font-size: xx-large !important;
  }
}

@media only screen and (max-width: 1290px) {
  * {
    margin: 3% 3% 3% 1% !important;
  }
  #grid-main {
    display: grid !important;
    grid-template-columns: 1fr !important;
    height: 98vh;
    width: 98vw !important;
    justify-content: center;
  }

  #add-expense-btn {
    border: 1px solid dodgerblue;
    border-radius: 45% !important;
    height: 70px !important;
    width: 70px !important;
    background-color: dodgerblue;
    box-shadow: 0px 2px 4px black;
  }

  .fa-trash-can {
    font-size: xx-large !important;
  }
}

@media only screen and (min-width: 2796px) and (orientation: landscape) {
  * {
    margin: 3% 3% 3% 1% !important;
  }
  #grid-main {
    display: grid !important;
    grid-template-columns: 1fr !important;
    height: 98vh;
    width: 98vw !important;

    justify-content: center;
  }
  #add-expense-btn {
    border: 1px solid dodgerblue;
    border-radius: 45% !important;
    height: 70px !important;
    width: 70px !important;
    background-color: dodgerblue;
    box-shadow: 0px 2px 4px black;
  }

  .fa-trash-can {
    font-size: xx-large !important;
  }
}
